/* App.css */
.app {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
}
.title {
  grid-column: 1 / -1; /* Membuat judul (h1) membentang di seluruh lebar grid */
  text-align: center;
  font-size: larger;
}
.mark {
  width: 100%; /* Agar textarea menyesuaikan dengan grid */
  height: 100%; /* Agar textarea menutupi penuh kolom */
  padding: 10px;
  font-size: 16px;
  background-color: #F7F7F8;
  border-color: #3795BD;
  box-sizing: border-box; /* Menjamin padding tidak mempengaruhi lebar */
}

.preview {
  width: 100%; /* Agar div preview menyesuaikan dengan grid */
  height: 100%; /* Agar div preview menutupi penuh kolom */
  padding: 10px;
  background-color: #F7EFE5;
  border-left: 1px solid #ccc;
  white-space: pre-wrap; /* Untuk menjaga format markdown */
  overflow-y: auto; /* Mengaktifkan scroll jika konten terlalu banyak */
  box-sizing: border-box; /* Menjamin padding tidak mempengaruhi lebar */
}
